.navbar{
    background-color: rgba(153, 242, 245, 0.507);
    font-size: 30px;
    font-family: serif;
}

.carousel-item{
    text-align: center;
    padding-top: 20px;
}

.content{
    text-align: center;
}

.firstroundedBox{
    padding-top: 160px;
}

.aboutMe{
    font-size: 100px;
    text-align: center;
    padding-top: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.aboutmeBox{
    border: groove;
    border-radius: 25px;
    border-color: black;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
}

.picture{
    text-align: center;
    padding-top: 65px;
}

.contactHeading{
    font-size: 100px;
    font-family: "Times New Roman";
    text-align: center;
    padding-top: 50px;
}

.contactmeBox{
    border: groove;
    border-radius: 25px;
    border-color: black;
    text-align: center;
    padding-top: 30px;
    width: 455px;
    height: 400px;
    margin-left: 420px;
}

.background{
    background-color:whitesmoke;
}

h5{
    text-align: center;
}

.card-text{
    text-align: center;
}

h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3{
    font-family:'Times New Roman', Times, serif;
}

.footer{
    background-color: gainsboro;
    text-align: center;
}